/* Custom CSS stylesheet */

/* @FONT-FACES */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

/* Footer Links */
.footer-link {
	margin-top: 16px;
	font-size: 11px;
	text-align: center;
}

.footer-link a {
	color: #cce;
	padding: 4px 8px;
	text-decoration: none;
	opacity: .25;
}

.footer-link a>img {
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	margin-right: 4px;
}

.footer-link a:hover {
	text-decoration: underline;
	opacity: 1;
}
