/* Custom CSS stylesheet */

/* @FONT-FACES */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

/* Body */
#body {
	font: 15px 'Open Sans', sans-serif;
	background-color: #31343a;
	color: #e4e4e6;
}

/* Header */
#header {
	text-align: center;
	padding: 15px;
}

#logo {
	width: 35%;
}

/* Body */
#base-rom-info {
    padding-bottom: 10px;
}

#auto-patch-info {
    padding-bottom: 10px;
}
.auto-patch-enabled {
    color: green
}
.auto-patch-disabled {
    color: red
}

/* Footer Links */
#footer-link-grid {
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  	gap: 0.5rem 1rem;
  	justify-items: center;
  	margin-top: 1rem;
}

.footer-link {
	margin-top: 16px;
	font-size: 11px;
	text-align: center;
}

.footer-link a {
	color: #cce;
	padding: 4px 8px;
	text-decoration: none;
	opacity: .25;
}

.footer-link a>img {
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	margin-right: 4px;
}

.footer-link a:hover {
	text-decoration: underline;
	opacity: 1;
}
