/* Custom CSS stylesheet */

/* @FONT-FACES */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* Themes */
@import './themes/catppuccin-mocha.css';

/* Body */
#body {
	font: 1rem 'JetBrains Mono', monospace;
	background-color: var(--color-bg);
	color: var(--color-text);
}

/* Header */
#header {
	text-align: center;
	padding: 15px;
}

#header #description {
	color: var(--color-subtext);
}

#logo {
  	max-width: 640px;
  	padding: 15px 15px;
}

/* Body */
#base-rom-info {
    padding-bottom: 10px;
}

#auto-patch-info {
    padding-bottom: 10px;
}
.auto-patch-enabled {
    color: var(--color-positive);
}
.auto-patch-disabled {
    color: var(--color-negative);
}

/* Rom Patcher JS */
#rom-patcher-container {
	background-color: var(--color-bg);
	color: var(--color-text);
	border: solid;
	border-color: var(--color-accent);
}

#rom-patcher-container .text-mono {
	font-family: 'JetBrains Mono', monospace;
	font-size: .75rem;
}

#rom-patcher-container .text-muted {
	color: var(--color-text-muted);
}

#rom-patcher-container input[type=file],
#rom-patcher-container input[type=checkbox],
#rom-patcher-container select {
	background-color: var(--color-bg2);
}

#rom-patcher-input-file-rom {
	color: var(--color-text2);
}

#rom-patcher-select-patch {
	color: var(--color-text2);
}

#rom-patcher-container button {
	border-bottom: solid;
	border-bottom-color: transparent;
	border-radius: 0px;
	background-color: inherit;
	color: inherit;
	transition: border-bottom-color .3s;
}

#rom-patcher-container button:disabled {
	opacity: 1 !important;
	color: var(--color-text-muted);
}

#rom-patcher-container button:not(:disabled):hover {
	background-color: inherit;
	border-bottom-color: var(--color-accent);
}

#rom-patcher-container button:not(:disabled):active {
	background-color: var(--color-accent);
	color: var(--color-text2);
	transform: translateY(0px);
}

/* Footer Links */
#footer-link-grid {
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  	gap: 0.5rem 1rem;
  	justify-items: center;
  	margin-top: 1rem;
}

.footer-link, #rom-patcher-powered {
	margin-top: 16px;
	font-size: .75rem;
	text-align: center;
}

.footer-link a, #rom-patcher-powered a {
	color: var(--color-text-muted);
	padding: 4px 8px;
	text-decoration: none;
	opacity: .25;
}

.footer-link a>img, rom-patcher-powered a>img {
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	margin-right: 4px;
}

.footer-link a:hover, #rom-patcher-powered a:hover {
	color: var(--color-text);
	text-decoration: underline;
	opacity: 1;
}
