/* Catppuccin Latte - https://catppuccin.com/palette/ */
:root {
	--rosewater: hsl(11deg, 59%, 67%);
	--flamingo: hsl(0deg, 60%, 67%);
	--pink: hsl(316deg, 73%, 69%);
	--mauve: hsl(266deg, 85%, 58%);
	--red: hsl(347deg, 87%, 44%);
	--maroon: hsl(355deg, 76%, 59%);
	--peach: hsl(22deg, 99%, 52%);
	--yellow: hsl(35deg, 77%, 49%);
	--green: hsl(109deg, 58%, 40%);
	--teal: hsl(183deg, 74%, 35%);
	--sky: hsl(197deg, 97%, 46%);
	--sapphire: hsl(189deg, 70%, 42%);
	--blue: hsl(220deg, 91%, 54%);
	--lavender: hsl(231deg, 97%, 72%);
	--text: hsl(234deg, 16%, 35%);
	--subtext1: hsl(233deg, 13%, 41%);
	--subtext0: hsl(233deg, 10%, 47%);
	--overlay2: hsl(232deg, 10%, 53%);
	--overlay1: hsl(231deg, 10%, 59%);
	--overlay0: hsl(228deg, 11%, 65%);
	--surface2: hsl(227deg, 12%, 71%);
	--surface1: hsl(225deg, 14%, 77%);
	--surface0: hsl(223deg, 16%, 83%);
	--base: hsl(220deg, 23%, 95%);
	--mantle: hsl(220deg, 22%, 92%);
	--crust: hsl(220deg, 21%, 89%);
}