/* Catppuccin Mocha - https://catppuccin.com/palette/ */
:root {
	/* Mocha */
	--rosewater: hsl(10deg, 56%, 91%);
	--flamingo: hsl(0deg, 59%, 88%);
	--pink: hsl(316deg, 72%, 86%);
	--mauve: hsl(267deg, 84%, 81%);
	--red: hsl(343deg, 81%, 75%);
	--maroon: hsl(350deg, 65%, 77%);
	--peach: hsl(23deg, 92%, 75%);
	--yellow: hsl(41deg, 86%, 83%);
	--green: hsl(115deg, 54%, 76%);
	--teal: hsl(170deg, 57%, 73%);
	--sky: hsl(189deg, 71%, 73%);
	--sapphire: hsl(199deg, 76%, 69%);
	--blue: hsl(217deg, 92%, 76%);
	--lavender: hsl(232deg, 97%, 85%);
	--text: hsl(226deg, 64%, 88%);
	--subtext1: hsl(227deg, 35%, 80%);
	--subtext0: hsl(228deg, 24%, 72%);
	--overlay2: hsl(228deg, 17%, 64%);
	--overlay1: hsl(230deg, 13%, 55%);
	--overlay0: hsl(231deg, 11%, 47%);
	--surface2: hsl(233deg, 12%, 39%);
	--surface1: hsl(234deg, 13%, 31%);
	--surface0: hsl(237deg, 16%, 23%);
	--base: hsl(240deg, 21%, 15%);
	--mantle: hsl(240deg, 21%, 12%);
	--crust: hsl(240deg, 23%, 9%);

	/* Main Colors */
	--color-bg: var(--base);
	--color-bg2: var(--text);
	--color-text: var(--text);
	--color-text2: var(--crust);
	--color-subtext: var(--subtext0);
	--color-text-muted: var(--overlay1);
	--color-accent: var(--mauve);

	/* Auxiliary Colors */
	--color-positive: var(--green);
	--color-negative: var(--red);
}