/* Gruvbox - https://arsmoriendy.github.io/gruvbox-cheatsheet/ */
:root {
    --bright-red: hsl(6.33deg, 96.14%, 59.41%);
    --bright-green: hsl(61.21deg, 66.22%, 44.12%);
    --bright-yellow: hsl(41.97deg, 95.31%, 58.24%);
    --bright-blue: hsl(157.06deg, 15.89%, 58.04%);
    --bright-purple: hsl(343.64deg, 46.67%, 67.65%);
    --bright-aqua: hsl(104.12deg, 35.05%, 61.96%);
    --bright-orange: hsl(26.99deg, 99.13%, 54.71%);
    --netural-red: hsl(2.40deg, 75.11%, 45.69%);
    --netural-green: hsl(59.52deg, 70.79%, 34.90%);
    --netural-yellow: hsl(39.56deg, 73.39%, 48.63%);
    --netural-blue: hsl(182.69deg, 32.68%, 40.20%);
    --netural-purple: hsl(332.66deg, 33.62%, 53.92%);
    --netural-aqua: hsl(122.26deg, 21.29%, 51.18%);
    --netural-orange: hsl(23.70deg, 87.72%, 44.71%);
    --faded-red: hsl(357.71deg, 100.00%, 30.78%);
    --faded-green: hsl(57.20deg, 79.26%, 26.47%);
    --faded-yellow: hsl(36.52deg, 80.10%, 39.41%);
    --faded-blue: hsl(189.56deg, 88.98%, 24.90%);
    --faded-purple: hsl(322.50deg, 38.83%, 40.39%);
    --faded-aqua: hsl(143.16deg, 30.16%, 37.06%);
    --faded-orange: hsl(19.19deg, 96.63%, 34.90%);
    --dark0Hard: hsl(195.00deg, 6.45%, 12.16%);
    --dark0: hsl(0.00deg, 0.00%, 15.69%);
    --dark0Soft: hsl(20.00deg, 3.09%, 19.02%);
    --dark1: hsl(20.00deg, 5.26%, 22.35%);
    --dark2: hsl(21.82deg, 7.38%, 29.22%);
    --dark3: hsl(26.67deg, 9.68%, 36.47%);
    --dark4: hsl(27.50deg, 10.71%, 43.92%);
    --gray: hsl(30.00deg, 12.10%, 51.37%);
    --light4: hsl(35.00deg, 17.14%, 58.82%);
    --light3: hsl(38.57deg, 24.14%, 65.88%);
    --light2: hsl(40.38deg, 38.24%, 73.33%);
    --light1: hsl(43.16deg, 58.76%, 80.98%);
    --light0Soft: hsl(45.56deg, 67.50%, 84.31%);
    --light0: hsl(48.46deg, 86.67%, 88.24%);
    --light0Hard: hsl(52.94deg, 73.91%, 90.98%);
}